@import '../../Styles/variables.scss';

.BoardCard {
  width: 25rem;
  height: 35rem;
  background-color: $gray;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.Img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}