// theme colors
$dark-gray: rgb(30, 30, 30);
$main-gray: #444;
$gray: rgb(50, 50, 50);
$light-gray: rgb(70, 70, 70);
$white: #fff;
$main-blue: #3f51b5;

// font-size
$fs-h1: 2rem;
$fs-h2: 3.6rem;
$fs-h3: 3rem;
$fs-h4: 2rem;
$fs-body1: 1.4rem;
$fs-body2: 1.2rem;
$fs-caption: 1rem;